.drawer-paper {
  max-width: 500px;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .drawer-paper {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .drawer-paper {
    max-width: 600px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 325px) {
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3 {
    font-size: 13px;
  }
}
