.bordered-table th,
td {
  border: 1px solid silver;
  padding: 4px;
}

.bordered-table {
  width: 100%;
  border-collapse: collapse;
}

.bordered-table a {
  text-decoration: none;
  color: blue;
}

.bordered-table a.active {
  color: red;
}
