#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3f51b5;
  height: 60px;
  color: white;

  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer a {
  text-decoration: none;
  color: orange;
}
