* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

#contents {
  position: relative;
  min-height: 100vh;
}

#main {
  padding-bottom: 60px;
  min-height: 100vh;
}

#main #page-content {
  margin: 30px;
  height: 100%;
}

.bg {
  /* The image used */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/mern-stack-bg.png');
  /* Full height */
  height: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
  margin: -30px -30px 20px -30px;
  font-family: Helvetica;
}
